body {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  margin: 0;
  background: url(images/background.jpg) no-repeat;
  background-size: cover;
}
.active{
  display: flex;
}
/* start crcreen  */
#start-screen {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gameBody {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#memory-board {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.card {
  width: 100px;
  height: 150px;
  position: relative;
  border: 1px solid #ccc;
  perspective: 1000px;  
}

.card-front {
  width: 100%;
  height: 100%;
  background-color: lightgray;
  display: block;
  
}

.card-back {
  width: 100%;
  height: 100%;
  background-color: darkgray;
  display: none;
}

.card.flip .card-back {
  display: block;
}

.card.flip .card-front {
  display: none;
}


.moveAndScore{
  color: red;
  font-size: 30px;
}

.title,
#lost-comment,
#win-comment,
#gemrOver {
  color: red;
  text-align: center;
  font-size: 100px;
  border: 2px solid rgb(110, 110, 197);
  background-color: rgb(50, 50, 75);
  width: 800px;
}
#win-comment,
#lost-comment {
  display: none;
}

#start-button,
#restart-button,
.output {
  color: red;
  border: none;
  background-color: rgb(50, 50, 75);
  font-size: 50px;
  border-radius: 10px;
  padding: 20px;
  width: 200px;
  transition: 0.3s;
  cursor: pointer;
}
#start-button:hover,
#restart-button:hover {
  background-color: rgb(70, 70, 100);
}
.output {
  margin-top: 20px;
}
/* End screen */
#end-screen {
 
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* #lost-comment , #win-comment{
    font-size:100px;
    color: red;
    text-align: center;
    font-size: 100px;
    border: 2px solid rgb(110, 110, 197);
    background-color: rgb(50, 50, 75);
    width: 800px;
} */

