body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background: url(images/background.jpg) no-repeat;
  background-size: cover;
}
.active {
  display: flex;
}
/* start crcreen  */
#start-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gameBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-container {
  display: flex;
  justify-content: space-evenly;
  gap: 1em;
  flex-wrap: wrap;
  width: 100%;
}

#win-comment,
#lost-comment {
  display: none;
}
#memory-board {
  display: none;
  flex-wrap: wrap;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.card {
  display: inline-block;
  perspective: 300px;
  transform-style: preserve-3d;
  position: relative;
  width: 150px;
  height: 150px;
  position: relative;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-in-out;
}
.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: transform 0.5s;
  background-repeat: no-repeat;
  background-size: cover;
}
.card-front {
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
.flipped {
  transform: rotateY(180deg);
  background-color: blue;
}
.moveAndScore {
  color: red;
  font-size: 30px;
  font-family: Arial;
  width: 200px;
  padding: 20px;
  margin-left: 75%;
}

.title,
#lost-comment,
#win-comment,
#gemeOver {
  color: red;
  text-align: center;
  font-size: 100px;
  border: 2px solid rgb(110, 110, 197);
  background-color: rgb(50, 50, 75);
  width: 800px;
}
/* #win-comment,
#lost-comment {
  display: none;
} */

#start-button,
#restart-button,
.output {
  color: red;
  border: none;
  background-color: rgb(50, 50, 75);
  font-size: 50px;
  border-radius: 10px;
  padding: 20px;
  width: 200px;
  transition: 0.3s;
  cursor: pointer;
}
#start-button:hover,
#restart-button:hover {
  background-color: rgb(70, 70, 100);
}
.output {
  margin-top: 20px;
}
/* End screen */
#end-screen {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease-in-out;
}
